{% extends 'base.html.twig' %}

{% block title %}À Propos | Escape Game{% endblock %}

{% block body %}
    <h1>À propos de nous</h1>
    <p>Découvrez notre passion pour les Escape Games et notre mission : offrir des expériences ludiques uniques pour toutes les occasions.</p>
{% endblock %}
