{% extends 'base.html.twig' %}

{% block title %}Contact | Escape Game{% endblock %}

{% block body %}
    <h1>Contactez-nous</h1>
    <p>Pour toute question ou réservation, n'hésitez pas à nous écrire :</p>
    <p><strong>Email :</strong> contact@escapegame-apero.com</p>
    <p><strong>Téléphone :</strong> 06 12 34 56 78</p>
{% endblock %}
